@use '../helpers/' as *;

.favorites-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 1.7rem;

  &__item {
    border-radius: 3rem;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    max-width: 48rem;
  }

  // breakpoints
  @include mobile {
    &__item {
      width: 100%;
    }
  }
  @include laptop {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1.7rem;
    
    &__item {
      width: 45rem;
    }
  }
}