<ul class="catalog-main" id="catalog-main">
<!-- item #1 -->
  <!-- <li class="catalog-main__card" id="catalog-main-card">

    <div class="catalog-main__img-box">
      <img class="catalog-main__img" src="/img/components/catalog-main/item-1.png" alt="картинка секции">
    </div>
  
    <h4 class="catalog-section-title">Прессованная плитка</h4>

  </li> -->
<!-- item #2 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-2.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Вибролитая плитка</h4>
  </li> -->
<!-- item #3 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-3.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Садовый бордюр</h4>
  </li> -->
<!-- item #4 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-4.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Дорожный бордюр</h4>
  </li> -->
<!-- item #5 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-5.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Строительные блоки</h4>
  </li> -->
<!-- item #6 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-6.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Фасадная плитка</h4>
  </li> -->
<!-- item #7 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-7.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Водостоки тротуарные</h4>
  </li> -->
<!-- item #8 -->
  <!-- <li class="catalog-main__card">
    <div class="catalog__item-img-box">
      <img src="/img/components/catalog-main/item-8.png" alt="картинка секции">
    </div>

    <h4 class="catalog-section-title">Крышки на столбы</h4>
  </li> -->
</ul>