<ul class="favorites-list">
<!-- card #1 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-1.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Шестигранник 250x220x70</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 250x220x70мм</span>
            <span class="favorite-card-summary">Количество: 21 шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">470 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">530 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">590 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">510 руб кв/м</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
<!-- card #2 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-2.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Брусчатка 200x100x50</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 200x100x50мм</span>
            <span class="favorite-card-summary">Количество: 50 пара шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">440 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">500 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">550 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">700 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
<!-- card #3 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-3.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Плитка квадрат 330x330x60</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 330x330x60мм</span>
            <span class="favorite-card-summary">Количество: 9 шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">440 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">500 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">550 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">700 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
<!-- card #4 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-4.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Катушка 250x160x60</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 250x160x60мм</span>
            <span class="favorite-card-summary">Количество: 30 шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">440 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">500 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">550 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">700 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
<!-- card #5 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-5.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Кирпичик 250x125x60</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 250x125x60мм</span>
            <span class="favorite-card-summary">Количество: 32 шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">440 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">500 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">550 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">700 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
<!-- card #6 -->
  <li class="favorites-list__item">
    <article class="favorite-card">
    <!-- Media -->
      <div class="favorite-card__media">
        <div class="favorite-card__media-img">
          <img src="/img/components/favorites-list/item-6.png" alt="картинка избраного товара">
        </div>

        <div class="favorite-card__description">
          <div class="favorite-card__title">
            <h4 class="favorite-card-title">Волна 250x125x60</h4>
          </div>

          <div class="favorite-card__summary">
            <span class="favorite-card-summary">Размер: 250x125x60</span>
            <span class="favorite-card-summary">Количество: 32/40 шт/кв.м</span>
            <span class="favorite-card-summary">Цвета в наличии: 8</span>
          </div>
          
          <div class="favorite-card__badges-list">
            <div class="favorite-card__badge favorite-card__badge--color1"></div>
            <div class="favorite-card__badge favorite-card__badge--color2"></div>
            <div class="favorite-card__badge favorite-card__badge--color3"></div>
            <div class="favorite-card__badge favorite-card__badge--color4"></div>
            <div class="favorite-card__badge favorite-card__badge--color5"></div>
            <div class="favorite-card__badge favorite-card__badge--color6"></div>
            <div class="favorite-card__badge favorite-card__badge--color7"></div>
            <div class="favorite-card__badge favorite-card__badge--color8"></div>
          </div>
        </div>
      </div>
    <!-- Action -->
      <div class="favorite-card__action">
        <div class="favorite-card__variants">
          <div class="favorite-card__variant-grey">
            <h5 class="favorite-card-variant">Серый</h5>
            <p class="favorite-card-price">450 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-red">
            <h5 class="favorite-card-variant">Красный</h5>
            <p class="favorite-card-price">500 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-brown">
            <h5 class="favorite-card-variant">Коричневый</h5>
            <p class="favorite-card-price">550 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-yellow">
            <h5 class="favorite-card-variant">Желтый</h5>
            <p class="favorite-card-price">700 руб кв/м</p>
          </div>
          <div class="favorite-card__variant-other">
            <h5 class="favorite-card-variant">Другие цвета</h5>
            <p class="favorite-card-price">по запросу</p>
          </div>
        </div>

        <button class="favorite-card__add-tobuy" type="button">
          <img src="/img/components/favorites-list/btn.svg" alt="Кнопка карточки добавить корзину">
        </button>
      </div>
    </article>
  </li>
</ul>