
<!-- Modal -->
<section class="mobile-nav"
id="mobile-nav"
role="dialog"
aria-modal="true"
>
  <h2 class="visually-hidden">Мобильная навигация</h2>
  <div class="mobile-nav__overlay"></div>

  <div class="mobile-nav__content">
    <div class="mobile-nav__header">
      <div class="header__logo">
        <a href="#!">
          <img 
          src="./img/layout/header/logo-header.png" 
          alt="Мастер строй">
        </a>
      </div>

      <button class="btn-mobile-nav"
      data-mobile-nav="close" 
      type="button" 
      aria-label="кнопка открытия мобильной навигации">
        <img 
        src="./img/icons/close-mobile-nav.svg" 
        alt="закрыть мобильную навигацию">
      </button>
    </div>
    
    <ul class="mobile-nav-list">
      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">О компании</a>
      </li>

      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">Укладка тротуарной плитки</a>
      </li>

      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">Портфолио</a>
      </li>

      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">Полезно знать</a>
      </li>

      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">Доставка и оплата</a>
      </li>

      <li class="mobile-nav-list__item">
        <a href="#!" class="link-nav">Контакты</a>
      </li>
    </ul>
  </div>
</section>

