@use '../../helpers/' as *;

.about {
  background: #404040;

  display: flex;

  &__img-block {
    min-width: 50%;
    
    & img {
      width: 100%;
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0 7.9rem 0 6.8rem;
  }

  &__title {
    margin-bottom: 8rem;
  }

  &__subtitle {
    margin-bottom: 30px;
  }
  
  &__descrition {
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  &__btn-catalog {}

  // breakpoint
  @include mobile {
    & {
      flex-direction: column;
    }

    &__img-block {
      min-width: 50%;

      & img {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3rem;
      }
    }
    
    &__content {
      padding: 1rem;
    }

    &__title {
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-bottom: 1rem;
    }

    &__descrition {
      margin-bottom: 2rem;
    }

    &__btn-catalog {
      margin: 0 auto;
    }
  }

  @include tablet {
    & {
      flex-direction: column;
    }

    &__img-block {
      min-width: 50%;

      & img {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3rem;
      }
    }

    &__content {
      padding: 4rem;
    }

    &__title {
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-bottom: 1rem;
    }

    &__descrition {
      margin-bottom: 2rem;
    }

    &__btn-catalog {
      margin: 0 auto;
    }
  }
  @include laptop {
    background: #404040;
    
    display: flex;
  
    &__img-block {
      min-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & img {
        width: 100%;
        
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
      }
    }
  
    &__content {
      align-items: flex-start;
  
      padding: 2rem;
    }
  
    &__title {
      margin-bottom: 4rem;
    }
  
    &__subtitle {
      margin-bottom: 3rem;
    }
  
    &__descrition {
      margin-bottom: 2rem;
  
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    &__btn-catalog {
      margin: 0 auto;
    }
  }

  @include laptop-L {

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 3rem;
    }

    &__title {
      margin-bottom: 3rem;
    }

    &__subtitle {
      margin-bottom: 3rem;
    }

    &__descrition {
      margin-bottom: 4rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__btn-catalog {}

    &__img-block {
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}