@use '../../helpers/' as *;

.hero {
  background-image: url('../img/blocks/sections/hero/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('../img/blocks/sections/hero/hero-bg@2x.jpg');
  }

  &__content {
    max-width: 78.2rem;
    margin: 0 auto;
    padding: 10rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__title {
    margin-bottom: 2rem;
  }

  &__subtitle {
    margin-bottom: 3.2rem;
  }

  &__catalog-btn {

  }

  // breakpoints
  @include laptop {
    &__content {
      padding: 7rem 2rem;
    }
  }

  @include tablet {
    &__content {
      padding: 5rem 2rem;
    }
  
    &__title {
      margin-bottom: 1.5rem;
    }
  
    &__subtitle {
      margin-bottom: 2rem;
    }
  }

  @include mobile {
    &__content {
      padding: 5rem 1rem;
    }
    
    &__title {
      margin-bottom: 1rem;
    }
  
    &__subtitle {
      margin-bottom: 1.6rem;
    }
  }
}






