@use '../helpers/' as *;

.footer {
  padding: 6rem 0 3rem;

  & a {
    transition: color 0.2s ease-in;
  }
  
  & a:hover {
    color: #e05100;
  }

  &__content {
    margin-bottom: 4rem;

    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_contact-title {}

  &-title {}

  &__contact-item {
    display: flex;
    gap: 2rem;
  }

  &-item {}

  &__contact-item {}

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__nav {
    display: flex;
    gap: 11.8rem;
  }

  &__nav-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__copyright {
    text-align: center;
  }

  // breakpoints
  @include mobile {
    padding: 0;

    &__content {
      margin-bottom: 2rem;
      flex-direction: column;

      gap: 1rem;
    }

    &__contact-info {
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    &__contact-item {
      flex-direction: row;

      gap: 2rem;
    }

    &__nav {
      flex-direction: column;
      gap: 2rem;
    }

    &__nav-col {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  @include tablet {
    padding: 2rem 0;

    &__content {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }

    &__contact-info {
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    &__contact-item {
      flex-direction: row;
      gap: 1rem;
    }

    &__nav {
      flex-direction: row;
      gap: 2rem;
    }

    &__nav-col {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}