@use '../helpers/' as *;

.header {

  // TOP
  &__top-row {
    background-color: #3c3c3c;
  }

  &__icon-box {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  &__top-content {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__addres {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__time-work {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 23px;

    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  &__ours-phones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__ours-grid-numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem 3rem;

    & p:nth-child(2) {
      grid-row: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__callback {
    max-width: 24rem;
  }

  // BOTTOM
  &__bottom-row {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  &__bottom-content {
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.5rem;
  }

  @include laptop-L {
    &__bottom-content {
      justify-content: center;
    }
  }

  @include laptop {
    &__addres {
      gap: 1rem;
    }
    
    &__time-work {
      padding: 0 2rem;
      gap: 1rem;
    }
  
    &__ours-phones {
      gap: 1rem;
    }
  
    &__ours-grid-numbers {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.3rem 3rem;
    }
  
    &__bottom-content {
      gap: 0.5rem;
    }
  }

  @include tablet {
    &__top-content {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  @include mobile {
    &__top-content {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }
    
    &__addres {
      gap: 2rem;
    }
    
    &__time-work {
      padding: 0rem;
      display: flex;
      align-items: center;
      gap: 2rem;
  
      border-right: 0px solid #fff;
      border-left: 0px solid #fff;
    }
  
    &__ours-phones {
      padding-left: 0rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
    }
  
    &__ours-grid-numbers {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.3rem 3rem;
    }
  
    &__callback {
      margin: 0 auto;
    }

    &__bottom-content {
      justify-content: space-between;
    }
  }
 
}