<footer class="footer">
  <div class="container">

    <div class="footer__content">
      <div class="footer__contact-info">

        <h4 class="footer-title">Магазин</h4>

        <div class="footer_contact-item">
          <p class="footer-item">Петрсональный раздел</p>
        </div>

        <div class="footer_contact-item">
          <strong class="footer-item">Режим работы:</strong><span class="footer-item"> с 8:00 до 20:00</span>
        </div>

        <div class="footer__contact-item">
          <img src="/img/layout/footer/phone-icon.svg" alt="иконка телефона">

          <div class="footer__numbers">
            <a class="footer-item" href="tel:+79261059414">+7 (926) 105-94-14</a>
            <a class="footer-item" href="tel:+79104706797">+7 (910) 470-67-97</a>
            <a class="footer-item" href="tel:+74999949099">+7 (499) 994-90-99</a>
          </div>

        </div>

      </div>

      <div class="footer__nav">
        <div class="footer__nav-col">
          <h4 class="footer-title">Каталог</h4>
          <a class="footer-item" href="#!">Акции</a>
          <a class="footer-item" href="#!">Тротуарная плитка</a>
          <a class="footer-item" href="#!">Бордюры</a>
        </div>

        <div class="footer__nav-col">
          <h4 class="footer-title">Сервисы</h4>
          <a class="footer-item" href="#!">Дизайн-проект</a>
          <a class="footer-item" href="#!">Укладка брусчатки</a>
          <a class="footer-item" href="#!">Доставка</a>
        </div>

        <div class="footer__nav-col">
          <h4 class="footer-title">О компании</h4>
          <a href="#!" class="footer-item">Контакты</a>
          <a href="#!" class="footer-item">Завод BRAER</a>
          <a href="#!" class="footer-item">Портфолио</a>
        </div>
      </div>
    </div>

    <div class="footer__copyright">
      <p class="copyright">
        © 2022 ООО "Мастер строй"
      </p>
    </div>
  </div>
</footer>